

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw; //viewport height
  height: 100vh; // viewport width

}

.boxed-view--modal {
  background-color: transparentize($grey, 0.5);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.boxed-view__box {
  background-color: $boxed-view-bg;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
  border: 1px solid $boxed-view-border-color;
}

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
