// SCSS mixins

// observe each scss class is mobile first, and then get adapted to desktop size

.page-content {
  display: flex;
  margin: 0 auto;
  max-width: $site-max-width;
  height: $page-content-height;

  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display:flex;
  transition: left 0.3s ease;
  width: 100vw;

  position: fixed;
  top: $header-height;
  left: -100vw;
  bottom: 0;

  @include desktop () {
    display: flex;
    width: $page-content-sidebar-width;
    position: static;
    padding-right: $large-space;
  }
}

.is-nav-open .page-content__sidebar {
  left: 0;
}

.page-content__main {
 display: flex;
 width: 100%;

 @include desktop {
   width: $page-content-main-width;
 }
}
