
.tabs {
  margin-bottom: calc(-#{$header-height} / 3 );
  font-weight: normal;
  font-size: $base-font-size;
}

.tab {
  color: white;
  font-weight: 100;
  margin-right: $space;
  padding: $space;
  text-decoration: none;
}

.tab:hover {
  transition: background-color 0.5s ease;
}

.tab__selected {
  background-color: $body-background-color;
  color: black;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 0px;
  transition: background-color 1s ease;
}
